extends layout

block content
	script.
		fileCount=#{pageData.fileCount};

	+modal(
		'delete-file',
		__('modal.remove_recording.title'),
		__('modal.remove_recording.description'),
		__('modal.cancel'),
		__('modal.remove_recording.delete_recording'),
		'delete-file-confirm'
	)

	+modal(
		'clear-texts',
		__('modal.clear_texts.title'),
		__('modal.clear_texts.description'),
		__('modal.cancel'),
		__('modal.clear_texts.clear'),
		'text-clear-confirm'
	)

	+modal(
		'set-marker-first-error',
		__('modal.an_error_occurred'),
		__('modal.set_marker.description'),
		__('modal.set_marker.whoops')
	)

	+modal(
		'set-marker-first-2-error',
		__('modal.an_error_occurred'),
		__('modal.set_marker.description_2'),
		__('modal.set_marker.whoops')
	)

	+modal(
		'set-marker-first-3-error',
		__('modal.an_error_occurred'),
		__('modal.set_marker.description_3'),
		__('modal.set_marker.whoops')
	)

	+modal(
		'set-marker-first-4-error',
		__('modal.an_error_occurred'),
		__('modal.set_marker.description_4'),
		__('modal.set_marker.whoops')
	)

	+modal(
		'decrease-volume-modal',
		__('modal.decrease_volume.title'),
		__('modal.decrease_volume.description'),
		__('modal.cancel'),
		__('modal.decrease_volume.decrease_volume'),
		'decrease-volume-confirm'
	)

	+modal(
		'increase-volume-modal',
		__('modal.increase_volume.title'),
		__('modal.increase_volume.description'),
		__('modal.cancel'),
		__('modal.increase_volume.increase_volume'),
		'increase-volume-confirm'
	)

	+modal(
		'crop-to-marker-modal',
		__('modal.crop_to_marker.title'),
		__('modal.crop_to_marker.description'),
		__('modal.cancel'),
		__('modal.crop_to_marker.crop_to_marker'),
		'crop-to-marker-confirm'
	)

	+modal(
		'ban-noise-modal',
		__('modal.ban_noise.title'),
		__('modal.ban_noise.description'),
		__('modal.cancel'),
		__('modal.ban_noise.ban_noise'),
		'ban-noise-confirm'
	)

	+modal(
		'ban-noise-done-modal',
		__('modal.noise_banned.title'),
		__('modal.noise_banned.description'),
		__('modal.ok')
	)

	// Thanks to
	// * http://stackoverflow.com/questions/5081534/put-jade-local-variable-in-tag-attribute
	// * http://jade-lang.com/reference/comments/
	div#wave(file-to-process=pageData.fileToProcess)
		div#file-info #{pageData.fileToProcess}.#{pageData.audioFormat} (#{pageData.fileSize} #{__('table.size_kb')})
		div#wave-content
		div#wave-loading
			i.fa.fa-spinner.fa-spin

	if spectrum_enabled
		div#spectrum
			img(src="/#{pageData.imagePath}")

	nav.navbar.navbar-light.bg-faded
		div.pull-left
			// Thanks to
			// * http://stackoverflow.com/questions/10953326/what-is-a-concise-way-to-create-inline-elements-in-jade
			// * http://stackoverflow.com/questions/20727360/do-i-have-to-use-nbsp-for-space-in-jade
			+button('wave-step-backward',    'step-backward', __('actions.step_backward'),    'primary', '', __('actions.step_backward') + ' (' + __('shortcuts.keys.left') + ')', 'right')
			+button('wave-play', 		     'play', 		  __('actions.play'),             'primary', '', __('actions.play') + ' (' + __('shortcuts.keys.space') + ')')
			+button('wave-stop', 		     'stop', 		  __('actions.stop'),             'primary', '', __('actions.stop') + ' (' + __('shortcuts.keys.esc') + ')')
			+button('wave-step-forward',     'step-forward',  __('actions.step_forward'),     'primary', '', __('actions.step_forward') + ' (' + __('shortcuts.keys.right') + ')')
			+button('wave-set-marker',       'thumb-tack',    __('actions.set_marker'),       'info', 	 '', __('actions.set_marker') + ' (' + __('shortcuts.keys.m') + ')')
			+button('wave-play-from-marker', 'play',    	  __('actions.play_from_marker'), 'info',    '', __('actions.play_from_marker')+ ' (' + __('shortcuts.keys.p') + ')')
			+button('wave-jump-to-marker',   'step-backward', __('actions.jump_to_marker'),   'info',    '', __('actions.jump_to_marker') + ' (' + __('shortcuts.keys.j') + ')')
			+button('wave-crop-to-marker',   'crop', 		  __('actions.crop_to_marker'),   'danger',  '', __('actions.crop_to_marker')+ ' (' + __('shortcuts.keys.c') + ')')
			+button('wave-ban-noise',   	 'ban', 		  __('actions.ban-noise'),   	  'danger',  '', __('actions.ban_noise') + ' (' + __('shortcuts.keys.b') + ')')
			+button('wave-decrease-volume',  'volume-down',   __('actions.decrease_volume'),  'warning', '', __('actions.decrease_volume'))
			+button('wave-increase-volume',  'volume-up',     __('actions.increase_volume'),  'warning', '', __('actions.increase_volume'))
		div.pull-right
			+button('wave-save',  		 	 'floppy-o',      __('actions.save'),  			  'success', '', __('actions.save_text'))
			+button('wave-delete',  		 'trash',         __('actions.delete'),  		  'danger',  '', __('actions.delete_recording'), 'left')
	div#text-manager
		div#text-wrapper
			table.table.table-bordered
				thead
					tr
						th.frame= __('table.frame')
						th.text= __('table.text')
						th.actions= __('table.actions')
				tbody
					tr
						td.frame
							div.input-group
								input(type='number', min='0').form-control.frame
								+button('', 'arrow-left', '',  'info', 'arrow-left', __('actions.insert_current_frame'))
						td
							div.input-group
								input(type='text').form-control.text

						td
							+button('', 'arrow-up',   '',  'info',   'arrow-up',   __('actions.move_up'))
							+button('', 'arrow-down', '',  'info',   'arrow-down', __('actions.move_down')) 
							+button('', 'trash',      '',  'danger', 'delete',     __('actions.delete_text')) 

		nav.navbar.navbar-light.bg-faded
			div.pull-left
				+button('text-add',  'plus',            __('actions.add_text'), 'success', '', __('actions.add_text'), 'right')
				+button('text-sort', 'sort-amount-asc', __('actions.sort'),     'info',    '', __('actions.sort_ascending'))

			div.pull-right
				+button('text-clear', 'trash', __('actions.clear'), 'danger', '', __('actions.clear_all_texts'), 'left')