mixin button(id, icon, text, color, baseClass, tooltip, tooltipPlacement, dontHideText)
	a.btn(
			class=(color ? 'btn-' + color : 'btn-primary') + ' ' + (baseClass ? baseClass : ''),
			id=(id ? id : ''),
			data-toggle='tooltip',
			data-placement=(tooltipPlacement ? tooltipPlacement : 'top'),
			title=(tooltip ? tooltip : '')
		)
		i.fa(class='fa-' + icon)
		if text && (!tooltip || dontHideText)
			span &nbsp;
			span.text= text
	|  

mixin modal(id, title, text, cancelButton, deleteButton, deleteButtonId, deleteButtonClass)
	div.modal.fade(id=id)
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type='button', data-dismiss='modal', aria-label=__('modal.close'))
					h4.modal-title= title
				div.modal-body
					if text
						p= text
					if block
						block
				div.modal-footer
					button.btn.btn-primary(type='button', data-dismiss='modal')= cancelButton
					if deleteButton
						button.btn(type='button', data-dismiss='modal', id=deleteButtonId class=(deleteButtonClass ? 'btn-' + deleteButtonClass : 'btn-danger'))= deleteButton

html
	head
		link(rel='stylesheet' href='css.min.css')
	body
		+modal('shortcut-help-modal', __('shortcuts.shortcuts'), '', __('shortcuts.ok'))
			p= __('shortcuts.description')
			ul
				li
					kbd= __('shortcuts.keys.dc')
					|  
					span= __('shortcuts.keys.dc_description')
				li
					kbd= __('shortcuts.keys.space')
					|  
					span= __('shortcuts.keys.space_description')
				li
					kbd= __('shortcuts.keys.1_9')
					|  
					span= __('shortcuts.keys.1_9_description')
				li
					kbd
						i.fa.fa-arrow-left
					|  
					span= __('shortcuts.keys.left_description')
				li
					kbd
						i.fa.fa-arrow-up
					|  
					span= __('shortcuts.keys.up_description')
				li
					kbd
						i.fa.fa-arrow-right
					|  
					span= __('shortcuts.keys.right_description') 
				li
					kbd
						i.fa.fa-arrow-down
					|  
					span= __('shortcuts.keys.down_description')
				li
					kbd= __('shortcuts.keys.b')
					|  
					span= __('shortcuts.keys.b_description')
				li
					kbd= __('shortcuts.keys.c')
					|  
					span= __('shortcuts.keys.c_description')
				li
					kbd= __('shortcuts.keys.f')
					|  
					span= __('shortcuts.keys.f_description')
				li
					kbd= __('shortcuts.keys.p')
					|  
					span= __('shortcuts.keys.p_description')
				li
					kbd= __('shortcuts.keys.m')
					|  
					span= __('shortcuts.keys.m_description')
				li
					kbd= __('shortcuts.keys.j')
					|  
					span= __('shortcuts.keys.j_description')

		+modal(
			'clear-pending-modal',
			__('modal.clear_pending.title'),
			__('modal.clear_pending.description'),
			__('modal.cancel'),
			__('modal.clear_pending.clear'),
			'clear-pending-confirm'
		)

		div.container
		nav.navbar.navbar-light.bg-faded#main-navbar
			div
				a.navbar-brand(href='https://github.com/blaues0cke/PiSleepTalk', target='_blank')= __('app.name')

				if is_recording
					i.microphone.fa.fa-microphone.text-success(aria-hidden='true', title=__('state.recording'))
				else
					i.microphone.fa.fa-microphone-slash.text-danger(aria-hidden='true', title=__('state.not_recording'))

				ul.nav.navbar-nav
					// Thanks to
					// * http://stackoverflow.com/questions/14144274/jade-conditional-if-else-to-add-class-to-div-inline
					li.nav-item(class=!pageData || !pageData.context || pageData.context == 'home' ? 'active' : '')
						a(href='/').nav-link= __('menu.home')
					li.nav-item(class=pageData && pageData.context && pageData.context == 'overview' ? 'active' : '')
						a(href='/overview').nav-link= __('menu.overview')
					li.nav-item(class=pageData && pageData.context && pageData.context == 'videos'  ? 'active' : '')
						a(href='/videos').nav-link= __('menu.videos')
					li.nav-item(class=pageData && pageData.context && pageData.context == 'status'  ? 'active' : '')
						a(href='/status').nav-link= __('menu.status')
					li.nav-item(class=pageData && pageData.context && pageData.context == 'import'  ? 'active' : '')
						a(href='/import').nav-link= __('menu.import')

			div.pull-right
				div#info-area
				+button('shortcut-help', 'question', __('menu.help'),          'primary', '', __('menu.help'),          'left')

				if !pageData || !pageData.context || pageData.context == 'home'
					+button('clear-pending', 'trash',    __('menu.clear_pending'), 'danger',  '', __('menu.clear_pending'), 'left')
		script.
			autoShowDeleteDialog='#{auto_show_delete_dialog}';
			defaultAudioFormat='#{default_audio_format}';
			defaultVideoFormat='#{default_video_format}';
			disablePreviewButtonText='#{__('actions.disable_preview') + ' (' + __('shortcuts.keys.f') + ')'}';
			enablePreviewButtonText='#{__('actions.enable_preview') + ' (' + __('shortcuts.keys.f') + ')'}';
			pauseButtonText='#{__('actions.pause') + ' (' + __('shortcuts.keys.b') + ')'}';
			pendingFilesText='#{__('status.pending_files')}';
			playButtonText='#{__('actions.play') + ' (' + __('shortcuts.keys.b') + ')'}';
			stateNotRecording='#{__('state.not_recording')}';
			stateRecording='#{__('state.recording')}';
		block content
		script(src='js.min.js')