mixin button(id, icon, text, color, baseClass, tooltip, tooltipPlacement, dontHideText)
	a.btn(
			class=(color ? 'btn-' + color : 'btn-primary') + ' ' + (baseClass ? baseClass : ''),
			id=(id ? id : ''),
			data-toggle='tooltip',
			data-placement=(tooltipPlacement ? tooltipPlacement : 'top'),
			title=(tooltip ? tooltip : '')
		)
		i.fa(class='fa-' + icon)
		if text && (!tooltip || dontHideText)
			span &nbsp;
			span.text= text
	|  

mixin modal(id, title, text, cancelButton, deleteButton, deleteButtonId)
	div.modal.fade(id=id)
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type='button', data-dismiss='modal', aria-label=__('modal.close'))
					h4.modal-title= title
				div.modal-body
					if text
						p= text
					if block
						block
				div.modal-footer
					button.btn.btn-primary(type='button', data-dismiss='modal')= cancelButton
					if deleteButton
						button.btn.btn-danger(type='button', data-dismiss='modal', id=deleteButtonId)= deleteButton

html
	head
		link(rel='stylesheet' href='css.min.css')
	body
		+modal('shortcut-help-modal', __('shortcuts.shortcuts'), '', __('shortcuts.ok'))
			p= __('shortcuts.description')
			ul
				li
					kbd= __('shortcuts.keys.dc')
					|  
					span= __('shortcuts.keys.dc_description')
				li
					kbd= __('shortcuts.keys.space')
					|  
					span= __('shortcuts.keys.space_description')
				li
					kbd= __('shortcuts.keys.1_9')
					|  
					span= __('shortcuts.keys.1_9_description')
				li
					kbd
						i.fa.fa-arrow-left
					|  
					span= __('shortcuts.keys.left_description')
				li
					kbd
						i.fa.fa-arrow-up
					|  
					span= __('shortcuts.keys.up_description')
				li
					kbd
						i.fa.fa-arrow-right
					|  
					span= __('shortcuts.keys.right_description') 
				li
					kbd
						i.fa.fa-arrow-down
					|  
					span= __('shortcuts.keys.down_description')

		div.container
		nav.navbar.navbar-light.bg-faded#main-navbar
			div
				a.navbar-brand(href='https://github.com/blaues0cke/PiSleepTalk', target='_blank')= __('app.name') 

				ul.nav.navbar-nav
					// Thanks to
					// * http://stackoverflow.com/questions/14144274/jade-conditional-if-else-to-add-class-to-div-inline
					li.nav-item(class=!pageData || !pageData.context || pageData.context == 'home' ? 'active' : '')
						a(href='/').nav-link= __('menu.home')
					li.nav-item(class=pageData && pageData.context && pageData.context == 'videos'  ? 'active' : '')
						a(href='/videos').nav-link= __('menu.videos')
					li.nav-item(class=pageData && pageData.context && pageData.context == 'status'  ? 'active' : '')
						a(href='/status').nav-link= __('menu.status')
					li.nav-item(class=pageData && pageData.context && pageData.context == 'import'  ? 'active' : '')
						a(href='/import').nav-link= __('menu.import')

			div.pull-right
				div#info-area
				+button('shortcut-help', 'question', __('menu.help'), 'primary', '', __('menu.help'), 'left')
		script.
			default_audio_format='#{default_audio_format}';
			default_video_format='#{default_video_format}';

		block content
		script(src='js.min.js')