mixin button(id, icon, text, color, baseClass)
	a.btn(class=(color ? 'btn-' + color : 'btn-primary') + ' ' + baseClass, id=(id ? id : ''))
		i.fa(class='fa-' + icon)
		if text
			span &nbsp;
			span.text= text
	|  

mixin modal(id, title, text, cancelButton, deleteButton, deleteButtonId)
	div.modal.fade(id=id)
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
					h4.modal-title= title
				div.modal-body
					if text
						p= text
					if block
						block
				div.modal-footer
					button.btn.btn-primary(type='button', data-dismiss='modal')= cancelButton
					if deleteButton
						button.btn.btn-danger(type='button', data-dismiss='modal', id=deleteButtonId)= deleteButton

html
	head
		link(rel='stylesheet' href='css/bootstrap.min.css')
		link(rel='stylesheet' href='css/font-awesome.min.css')
		link(rel='stylesheet' href='css/sleeptalk.css')
	body
		div.container
		nav.navbar.navbar-light.bg-faded#main-navbar
			div
				a.navbar-brand(href='https://github.com/blaues0cke/PiSleepTalk', target='_blank') PiSleepTalk

				ul.nav.navbar-nav
					// Thanks to
					// * http://stackoverflow.com/questions/14144274/jade-conditional-if-else-to-add-class-to-div-inline
					li.nav-item(class=!pageData || !pageData.context || pageData.context == 'home' ? 'active' : '')
						a(href='/').nav-link Home
					li.nav-item(class=pageData && pageData.context && pageData.context == 'videos'  ? 'active' : '')
						a(href='/videos').nav-link Videos
					li.nav-item(class=pageData && pageData.context && pageData.context == 'status'  ? 'active' : '')
						a(href='/status').nav-link Status

			div.pull-right
				div#info-area

		block content
		script(src='js/jquery-2.1.4.min.js')
		script(src='js/bootstrap.min.js')
		script(src='js/wavesurfer.min.js')
		script(src='js/wavesurfer.regions.js')
		script(src='js/sleeptalk.js')