extends layout

block content
	+modal(
		'delete-file',
		__('modal.delete_file.title'),
		__('modal.delete_file.description'),
		__('modal.cancel'),
		__('modal.delete_file.delete_file'),
		'delete-status-file-confirm'
	)

	div.jumbotron.no-margin
		h1.display-3= __('status.title')
		p.lead= __('status.description', pageData.generationDate)
		hr.m-y-2
		p= __('status.disk_space', pageData.diskUsage.free, pageData.diskUsage.total)
		p.lead
			a.btn.btn-primary.btn-lg.btn-reload(role='button')= __('actions.reload_page')
			|  
			a.btn.btn-primary.btn-lg.btn-reload(role='button', href='/logs')= __('actions.view_logs')
	div#file-system
			table.table.table-bordered
				thead
					tr
						th.path= __('table.path')
						th.size= __('table.size')
						th.actions= __('table.actions')
				tbody
					each file in pageData.files
						tr
							td.path #{file.path}
							td.size #{file.size} #{__('table.size_kb')}
							td.actions
								+button('', 'trash',    '',  'danger',  'delete', __('actions.delete_file'))