extends layout

block content
	div.jumbotron.no-margin
		h1.display-3 Status
		p.lead Review the status of your PiSleepTalk instance. Page generated: #{pageData.generationDate}
		hr.m-y-2
		p Disk space: #{pageData.diskUsage.free}/#{pageData.diskUsage.total} GB
		p.lead
			a.btn.btn-primary.btn-lg.btn-reload(role='button') Reload page

	div#file-system
			table.table.table-bordered
				thead
					tr
						th.path Path
						th.size Size
				tbody
					each file in pageData.files
						tr
							td.path #{file.path}
							td.size #{file.size} KB