extends layout

block content
	+modal(
		'delete-video',
		__('modal.remove_video.title'),
		__('modal.remove_video.description'),
		__('modal.cancel'),
		__('modal.remove_video.delete_video'),
		'delete-video-confirm'
	)

	+modal(
		'concat-videos-modal',
		__('modal.concat_videos.title'),
		'',
		__('modal.cancel'),
		__('modal.concat_videos.concat_videos'),
		'concat-videos-confirm'
	)
		p= __('modal.concat_videos.description')
		fieldset.form-group
			label(for="movie-title")= __('videos.movie_title')
			input(type="text", name="movie-title", placeholder=__('videos.movie_title')).form-control#movie-title
			small.text-muted= __('videos.movie_title_tip', pageData.titleTime)

	+modal(
		'concat-videos-done-modal',
		__('modal.concated_videos.title'),
		__('modal.concated_videos.description'),
		__('modal.ok')
	)

	+modal(
		'play-video',
		__('modal.preview_video.title'), 
		'',
		__('modal.ok')
	)
		div.embed-responsive.embed-responsive-16by9#video-target

	div.jumbotron.no-margin
		h1.display-3= __('videos.title')
		p.lead= __('videos.description')
		hr.m-y-2
		p= __('videos.sub_description')
		p.lead
			a.btn.btn-primary.btn-lg(role='button')#concat-checked-videos= __('actions.concat_checked_videos')
			|  
			a.btn.btn-primary.btn-lg(role='button')#concat-all-videos= __('actions.concat_all_videos')

	div#video-list
			table.table.table-bordered
				thead
					tr
						th
							input(type="checkbox").toggle
						th.type= __('table.type')
						th.path= __('table.path')
						th.size= __('table.path')
						th.length= __('table.length')
						th.actions= __('table.actions')
				tbody
					if !pageData.videos || pageData.videos.length == 0
						tr
							td(colspan=6)= __('videos.empty_text')
					each video in pageData.videos
						tr
							td
								input(type="checkbox", value=video.path name="video-path")
							td.type= __('videos.type_' + video.type)
							td.path #{video.path}
							td.size #{video.size} #{__('table.size_kb')}
							td.length #{video.length}#{__('table.length_seconds_short')}
							td.actions
								+button('', 'play',     '',  'success', 'play',     __('actions.play_video'))
								+button('', 'download', '',  'info',    'download', __('actions.download_video'))
								+button('', 'trash',    '',  'danger',  'delete',   __('actions.delete_video'))